.info-container{
  text-align: center;
  z-index: 100;
  margin-bottom: 0;
  margin-top: 0;
}

.info-content {
  margin: 60px;
  width: 650px;
  line-height: 1.5;
}

.info-text h1 {
  font-size: 40px;
}

.info-text a{
  text-decoration: none;
  color: #008737;
  font-size: 14px;
  text-align: right;
  float: right;
}

@media(max-width: 1024px) {
  .section_card_holder{
    margin: 0 !important;
    width: 100%;
  }
  .info-card, .r_c{
    width: 90% !important;
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
  }
  .info-image{
    width: 70%;
  }
  .info-text{
    margin-right: 10px;
    width: 80% !important;
  }
}

